<div class='header'>
  <div class="container">
    <div class="logo">
      <a href="{{ .Site.Home.RelPermalink }}" class="headerlogo">
        <span style="color: black;">Psi</span><span style="color: #4050B5;">do</span>
      </a>
    </div>
    <div class="logo-mobile">
      <a href="{{ .Site.Home.RelPermalink }}" class="headerlogo">
        <span style="color: black;">Psi</span><span style="color: #4050B5;">do</span>
      </a>
    </div>
    {{ partial "main-menu.html" . }}
    {{ partial "hamburger.html" . }}
  </div>
</div>
